
<body class="">
<div class="wrapper">
<div class="sidebar">
<div class="sidebar-wrapper">
<div class="logo text-center">
<a href="/" class="simple-text logo-normal" style="font-size: large;">
RAKU - API
</a>
</div>
<ul class="nav">
<li class="active ">
<a href="/">
<i class="tim-icons icon-chart-pie-36"></i>
<p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/downloader">
              <i class="tim-icons icon-cloud-download-93"></i>
              <p>Downloader</p>
            </a>
          </li>
          <li>
            <a href="/music">
              <i class="fas fa-music"></i>
              <p>Music</p>
            </a>
          </li>
          <li>
            <a href="/islam">
              <i class="tim-icons icon-bulb-63"></i>
              <p>Islam</p>
            </a>
          </li>
          <li>
            <a href="/asupan">
              <i class="fa fa-coffee"></i>
              <p>Asupan</p>
            </a>
          </li>
          <li>
            <a href="/nsfw">
              <i class="fas fa-exclamation-triangle"></i>
              <p>NSFW</p>
            </a>
          </li>
          <li>
            <a href="/gacha">
              <i class="fas fa-fire"></i>
              <p>Gacha Cewe</p>
            </a>
          </li>
          <li>
            <a href="/random">
              <i class="tim-icons icon-image-02"></i>
              <p>Random Image</p>
            </a>
          </li>
          <li>
            <a href="/editor">
              <i class="far fa-bookmark"></i>
              <p>Image Editor</p>
            </a>
          </li>
          <li>
            <a href="/maker">
              <i class="fas fa-fw fa-images"></i>
              <p>Image Maker</p>
            </a>
          </li>
          <li>
            <a href="/photooxy">
              <i class="fas fa-fw fa-images"></i>
              <p>Photooxy</p>
            </a>
          </li>
          <li>
            <a href="/canvas">
              <i class="tim-icons icon-palette"></i>
              <p>Canvas</p>
            </a>
          </li>
          <li>
            <a href="/textpro">
              <i class="tim-icons icon-align-center"></i>
              <p>Textpro</p>
            </a>
          </li>
          <li>
            <a href="/random">
              <i class="tim-icons icon-align-center"></i>
              <p>Random</p>
            </a>
          </li>
          <li>
            <a href="/anime">
              <i class="tim-icons icon-planet"></i>
              <p>Anime</p>
            </a>
          </li>
          <li>
            <a href="/fun">
              <i class="fas fa-laugh-beam"></i>
              <p>Fun</p>
            </a>
          </li>
          <li>
            <a href="/tools">
              <i class="fas fa-wrench"></i>
              <p>Tools</p>
            </a>
          </li>
          <li>
            <a href="/other">
              <i class="fab fa-fw fa-wpforms"></i>
              <p>Other</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
<div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              
       <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="fa fa-gamepad"></i>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Game Lainnya
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="/game" class="nav-item dropdown-item">Click Disini</a></li>
                  </ul>
              </li>

      <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <div class="photo">
                <img src="https://i.ibb.co/cyM9YyH/logoku.jpg" alt="Nathan Photo Profile">
                </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Profile
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                <li class="nav-item ">
                  <a href="/users/register" class="nav-link">
                            <i class="tim-icons icon-laptop"></i> Register
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/users/login" class="nav-link">
                            <i class="tim-icons icon-single-02"></i> Login
                        </a>
                    </li>
                    <li class="nav-item  active ">
                        <a href="/price" class="nav-link">
                            <i class="tim-icons icon-coins"></i> Pricing
                        </a>
                  </li>
              </ul>

           <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="https://i.ibb.co/cyM9YyH/logoku.jpg" alt="Nathan Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Contact
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="http://wa.me/6287834993722" class="nav-item dropdown-item">WhatsApp</a></li>
                  <li class="nav-link"><a href="https://youtube.com/c/ZEROBOT7" class="nav-item dropdown-item">YouTube</a></li>
                  <li class="nav-link"><a href="https://instagram.com/nathanaelhananta" class="nav-item dropdown-item">Instagram</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Cari">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
<div class="content">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">Visitor</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="visitor"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Total Visitor</small>
                                        
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">Battery</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="batrai"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Battery Your Phone</small>
                                    </div>
                                    <span class="text-info fs-35 dash1-iocns bg-info-transparent border-info"><i class="fa fa-sound-wave" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">Count Down To 2021</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="time"></div>
                                        </h2>
                                        <small class="fs-12 text-success">2021 To 2022</small>
                                    </div>
                                    <span class="text-info fs-35 dash1-iocns bg-info-transparent border-info"><i class="fa fa-chart-bar-32" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">IP ADDRESS</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="ipaddres"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Your IP</small>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
<div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
<form action="/api/cekapikey">
<div class="card overflow-hidden dash1-card border-0">
<div class="card-body">
<div class="card-header">
<h3 class="card-title"><i class="tim-icons icon-key-25" aria-hidden="true"></i> Apikey Check</h3>
</div>
<div class="card-body text-sm-left font-weight-bold">
<p class="status" style="color: white; font-size: 20px;"></p>
<h2 class="warn" style="color: red"></h2>
<label for="password">Enter Your ApiKey:</label>
<input type="text" class="form-control" placeholder="apikey" name="apikey" required="">
<small id="textHelp" class="font">Gak Punya Apikey? Contact me on
<a href="https://wa.me/6287834993722">
Whatsapp
</a>
</small>
</br></br>
<button type="submit" id="kelik" class="btn btn-success" onclick="text">Submit</button>
</div>
</div>
</div>
</div>
   <div class="col-lg-4">
<div class="card card-chart">
        <div class="card card-stats card-round">
            <div class="card-header">
                <h3 style="margin-bottom: 0">
                    <i class="tim-icons icon-bullet-list-67 text-danger"></i> S&K
                </h3>
            </div>
            <div class="card-body mb-3">
                <ol>
                    <li>Jangan Di Spam. </li>
                    <li>
                        Dilarang Merusak Template Website.
                    </li>
                    <li>Jangan Di Tembak Kak. Aku Udah Ada Yang Punya:)</li>
                    <li>Gunakan Dengan Bijak</li>
                    <li>
                        Owner Tidak Bertanggung Jawaban Atas Kerusakan
                    </li>
                    <li>
                        Owner Dapat Mengubah Ketentuan Di Website Ini, Demi Menjaga Kualitas Website.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
        <div class="card card-user card-round">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="https://youtube.com/c/ZEROBOT7">
                            <img class="avatar" src="https://i.ibb.co/cyM9YyH/logoku.jpg" alt="...">
                            <h5 class="title">Nathan</h5>
                        </a>
                        <p class="description">
                            Phone Number <br> +6287834993722
                        </p>
                    </div>
                </p>
                <div class="card-description text-center">
                    Nathanael Hananta Jevano <br> Class 7 <br> 12 y.o
                </div>
            </div>
        </div>
    </div>
